/*.clearfix:before,
.clearfix:after,
.btn {
  margin-left: 20px;
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
}
*/

html,body{
    height: 100%
}

body {
    background-image: url("dustGray.jpg");
    height: 50%;
    padding-bottom: 30px
   /* background-color: #cccccc;*/
}


.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 30px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#mainpanel {
  top: 10px;

}

#inputName {
    /*margin: 0 0 0 -15px;*/
}

.btn-default {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
    margin-top: -20px;
}

.gifImage{
      border: solid black 1px; 
      width: 120%;
      height: 120%;
      padding: 5px;
      max-height: 220px;
      max-width: 200px;
      background-color: lightgrey;
    }

#gif{
      font-size: 12px;
      border: .25px;
      background-color: white;
      color: lightgray;
      border: solid black 1px;
    }

#gifDisplay {
      float:left;
      margin-bottom: 10px;
      top: 3px;
      margin-left: 1px;
      width: 210px;
      border: solid black 1px;
}
#images{
  border: solid black 1px; 
}

#graph{
  margin-left: .01px;
  border: solid black 1px; 
}

.graphImage{

}

.footer {
  border-top: 5px solid white; 
  color: white;
  background-color: black;
  width:100%;
  position: fixed;
  bottom:0;
  left:0;
  text-align: center;
  font: 4px;
  height: 30px;
}

.navbar{
text-align: center;
background-color: black;
border-top: 5px solid white; 
left:0;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
