/*.clearfix:before,
.clearfix:after,
.btn {
  margin-left: 20px;

}
*/
body {
    background-image: url("dustGray.jpg");
    height: 50%;
   /* background-color: #cccccc;*/
}


.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 30px 0;
  text-align: center;
  color: white;
 /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#mainpanel {
  top: 10px;

}

#inputName {
    margin: 0 0 0 -15px;
}

.btn-default {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
    margin-top: -20px;
}

.gifImage{
      border: solid black 1px;
      width: 120%;
      height: 120%;
      padding: 5px;
      max-height: 220px;
      max-width: 200px;
      background-color: lightgrey;
    }

#gif{
      font-size: 12px;
      border: .25px;
      background-color: white;
      color: lightgray;
      border: solid black 1px;
    }

#gifDisplay {
      float:left;
      margin-bottom: 10px;
      width: 90%;
      border: solid black 1px;
}
.gifdiv{
  display:inline-block;
}
#images{
border: solid black 1px;
}

#graph{
  
  border: solid black 1px;

}

.footer {
  border-top: 5px solid white; 
  color: white;
  background-color: black;
  width:100%;
  position: relative;
  bottom:0;
  left:0;
  text-align: center;
  font: 4px;
}
.emotionP{
  display:inline-block;
  margin-left: 10px;
}

.gifs {
  display: inline-block;
  width:200px;
}